.sidebar {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
}

.sidebar-right {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 20%;
  margin: 1em;
}

.sidebar-right-further {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 40%;
  margin: 1em;
}

.mapbox-container {
  width: 100%;
  height: 80vh;
}

@media screen and (max-width: 768px) {
  .mapbox-container {
    margin-top: 1em;
    height: 800px;
  }
}

.clearButton {
  z-index: 1;
  position: absolute;
  margin: 1em 1em;
  right: 0;
}

.map-container {
  min-height: 80vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .map-container {
    min-height: 60vh;
  }

  .clearButton {
    z-index: 1;
    position: absolute;
    right: 0;
    margin-right: 10px;
    bottom: 36px;
  }
}

.sidebar-legend {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  border: 1px solid hsla(0, 0%, 100%, 0.75);
}

ul {
  padding-left: 0 !important;
}

.mapboxgl-popup-content {
  font: 'BRFirma', 'Helvetica Neue', sans-serif;
  padding: 0 !important;
  width: 100%;
  font-weight: 300;
  font-size: medium;
}

.mapboxgl-popup-content h4 {
  background: #4a993b;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 300;
  font-size: medium;
}

.mapboxgl-popup-content p {
  margin: 0;
  padding: 10px;
}

.mapboxgl-popup-content div {
  padding: 10px;
  color: black !important;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}