.planSimulationForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.customReactSelect {
  font-size: 0.8rem;
}

/* Filter locations by a Parent Location */

.customSwitchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 0;
  gap: 1rem;
  font-size: 1rem;
  border: 1px solid #0000001a;
  border-radius: 5px;
  padding: 1rem;
}

.filterLoactionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.customSwitchForm {
}

.filterLoactionsWrapper__infoContainer {
}

.filterLoactionsWrapper__label {
  color: black;
  margin: 0;
}

.filterLoactionsWrapper__subLabel {
  color: #73737398;
  margin: 0;
  font-size: 0.8rem;
}

.loadInactiveWrapper {
}

.parentLocationSelects {
  border: 1px solid #0000001a;
  border-radius: 5px;
  padding: 1rem;
  font-size: 0.8rem;
}

.parentLocationSelects select {
  font-size: 0.8rem;
}

.formSubmitWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.formControlsWrapper label {
  margin: 0;
}

.formControlsWrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.searchButton {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.select {
  width: 100%;
}
.select_small {
  width: 80%;
}

.WrapperDasasetsButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: #ffffff;
  border: 1px solid #0000001a;
  border-radius: 0.375rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.dasasetsButton {
  background-color: #f9f9f9;
  border-radius: 0.375rem;
  border: 1px solid #0000001a;
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: black;
  padding: 0.5rem;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  transition: background-color 0.3s;
}

.dasasetsButton:hover {
  background-color: #f0f0f0;
}
