.multiselectItem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.multiselectItem_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.multiselectItem_info p {
  margin: 0;
}

.selectedIcon {
  filter: brightness(0) saturate(100%) invert(21%) sepia(91%) saturate(7190%) hue-rotate(358deg) brightness(109%)
    contrast(115%);
  width: 10px;
  height: 10px;
  margin-right: 0.2rem;
}

.selectedPolygonUl {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.removeLocationButton {
  border: none;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 7px;
  background: transparent;
}

.removeLocationButton img {
  width: 17px;
  height: 17px;
  opacity: 0.7;
  transition: all 0.2s;
}

.removeLocationButton:hover img {
  opacity: 1;
}
