.statisticsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.dashBoardSectionWrapper {
  padding: 1rem;
  border: 1px solid #0000001a;
  border-radius: 5px;
  background-color: white;
}

.populationHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.populationHeadingIcon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #000000c4;
}

.populationHeadingH3 {
  margin: 0;
  font-size: 1.2rem;
}

.populationChartWrapper {
  display: flex;
  justify-content: space-between;
}

.populationChartSum {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.populationChartSumH3 {
  font-size: 1rem;
  margin: 0;
}

.populationChartSumP {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.doughnut {
  width: 76%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.structureWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.structureText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.facilitiesStatisticWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.facilitiesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facilitiesText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.houseIcon {
  height: 17px;
  width: 17px;
  margin-right: 0.5rem;
}

.chartControlsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  padding: 0.5rem;
  border-radius: 5px;
}

.chartControlsButton {
  padding: 0.2rem 1.2rem;
  border: none;
  border-radius: 5px;
}

.active {
  color: #111827;
  background-color: white;
}

.inactive {
  color: #6b7280;
}
