.layoutHeight {
  min-height: 700px;
  width: 350px;
}

.floatingLocationPicker {
  box-shadow: 5px 5px 4px rgba(24, 24, 24, 0.5);
  width: 30vw;
  min-width: 20vw;
  max-width: 65vw;
  max-height: 70vh;
  resize: horizontal;
  overflow-x: auto;
}

.floatingLocationPickerAssign {
  box-shadow: 5px 5px 4px rgba(24, 24, 24, 0.5);
  width: 40vw;
  min-width: 40vw;
  max-width: 65vw;
  max-height: 70vh;
  resize: horizontal;
  overflow-x: auto;
}


@media screen and (max-width: 768px) {
  .layoutHeight {
    min-height: auto;
  }
  .floatingLocationPicker {
    box-shadow: 5px 5px 4px rgba(24, 24, 24, 0.5);
    width: 80vw;
    min-width: 80vw;
    resize: none;
    overflow-x: hidden;
  }
}