.container {
  display: flex;
  flex-direction: column;
}

.targetItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.8rem;
  transition: background-color 0.3s;
}

.targetItem:hover {
  background-color: #f3f3f3;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0ac600;
  margin-right: 0;
  margin-top: 10;
}

.value {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  display: flex;
}

.text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hoverButton {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverButton img {
  transition: width 0.2s;
  width: 0rem;
  opacity: 0.7;
  height: 17px;
}

.targetItem:hover .hoverButton img {
  visibility: visible;
  width: 17px;
  height: 17px;
}

.targetItem:hover .hoverButton {
  margin-left: 0.5rem;
}
