.container {
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usersIcon {
  width: 15px;
  height: 15px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #4b5563;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.teamGroup {
  margin-bottom: 1px;
}

.teamHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.teamName {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111827;
  font-weight: 500;
}

.chevron {
  color: #6b7280;
  transition: transform 0.2s;
}

.membersList {
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.member {
  display: flex;
  padding: 0.3rem 0rem;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}

.memberInfo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.memberName {
  color: #374151;
}

.memberUsername {
  color: #6b7280;
  font-size: 12px;
  font-style: italic;
  margin-right: 1px;
}

.emptyTeam {
  color: #6b7280;
  font-size: 12px;
  font-style: italic;
}

.statusIndicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.statusIndicator.active {
  background-color: #10b981;
}

.statusIndicator.inactive {
  background-color: #e5e7eb;
}
